<!DOCTYPE html>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<html>
  <head>
    <title>ControllerExercise</title>
  </head>
  <body>
    <br><%= link_to "Schneems Blog", "http://schneems.com" %>
    <br><%= link_to "User List", users_path %>
    <br><%= link_to "Product List", products_path %>
  </body>
</html>
<%= yield %>

